<h1 class="text-center">Your Posts</h1>

<div class="justify-content-center">
    <div class="text-center">
        <button>
            <a href="/newPost">Create a new Post</a>
        </button>
        
    </div>
    
{{#each posts as |post|}}
<div class="card mx-auto my-1" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Posted by {{post.name}} on {{format_date post.post_date}}</h6>
    <p class="card-text">{{post.content}}</p>
    <a href="/comment/{{post.id}}" class="card-link text-center">View Comments</a>
  </div>
</div>

{{/each}}
</div>